.container {
  background-color: #FFFFFC;
}

.container h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.cards-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3% 15%;
}

.cards {
  background-color: pink;
  text-align: center;
  width: 220px;
  height: 300px;
  box-shadow: 0 0 5px rgb(230 230 230);
  border-radius: 7px;
  padding: 70px 30px 30px 30px;
}

.cards:hover {
  transform: scale(1.1);
}

.cards h3 {
  text-align: center;
  color: red;
}

.cards p {
  text-align: left;
}

.cards img {
  width: 100px;
}
